.image-gallery {
  max-width: 100% !important;
  height: auto !important;
}

.image-gallery-slide img {
  width: 100% !important;
  height: auto !important;
  max-height: 65vh !important;
  object-fit: contain !important;
  overflow: hidden !important;
  object-position: center center !important;
}

.fullscreen .image-gallery-slide img {
  max-height: 100vh !important;
}

.voted-result {
  border-color: #26c69d !important;
  background: #26c69d !important;

  .image-gallery-thumbnail-label {
    color: #26c69d !important;
    background: rgba(0,0,0,0.7);
  }
}

.image-gallery-thumbnails {
  padding-top: 8px;
  padding-bottom: 8px;
}

svg {
  text {
    background: #222 !important;
    padding: 4px;
  }
}