.CtrlButton {
  touch-action: manipulation;
  width: 4.75rem;
  height: 4.75rem;
  border-radius: 16px;
  font-weight: bold;
  font-size: 1.25rem;
  outline-offset: 3px;
  border: 3px solid transparent;
  background-color: rgba(0 0 0 / 25%);

  .handle {
    cursor: ns-resize;
  }

  &:active {
    border-color: transparent !important;
  }

  &.CtrlButton-black {
    border-color: #333;

    &:active {
      background-color: #111;
      outline: 2px solid #000000;
    }
  }

  &.CtrlButton-red {
    border-color: #ff4444;

    &:active {
      background-color: #ff4444;
      outline: 1px solid #ff4444;
    }
  }

  &.CtrlButton-green {
    border-color: #448444;

    &:active {
      background-color: #448444;
      outline: 2px solid #448444;
    }
  }

  &.CtrlButton-blue {
    border-color: #3333ff;

    &:active {
      background-color: #3333ff;
      outline: 2px solid #3333ff;
    }
  }

  &.CtrlButton-yellow {
    border-color: #ffb833;

    &:active {
      background-color: #ffb833;
      outline: 2px solid #ffb833;
    }
  }
}