.btn {
  touch-action: manipulation;
  z-index: 10;
  position: fixed;
  width: 4.75rem;
  height: 4.75rem;
  border-radius: 20%;
  font-weight: bold;
  font-size: 1.25rem;
  outline-offset: 3px;
  opacity: 60%;
  filter: saturate(0.4);

  &:hover,
  &:focus {
    opacity: 75%;
    filter: saturate(0.8);
  }

  &:active {
    opacity: 100%;
    filter: saturate(1);
  }

  &.btn-black {
    top: 15px;
    left: 15px;
    background-color: #000000;

    &:active {
      background-color: #111;
      outline: 2px solid #000000;
    }
  }

  &.btn-red {
    top: 15px;
    right: 15px;
    background-color: #ff0000;

    &:active {
      background-color: #ff3333;
      outline: 1px solid #ff4444;
    }
  }

  &.btn-green {
    bottom: 15px;
    left: 15px;
    background-color: #008000;

    &:active {
      background-color: #448444;
      outline: 2px solid #448444;
    }
  }

  &.btn-blue {
    bottom: 15px;
    right: 15px;

    background-color: #0000ff;

    &:active {
      background-color: #3333ff;
      outline: 2px solid #3333ff;
    }
  }
}