.SessionInfo {
  position: fixed;
  margin-top: 6.5rem;
}

body {
  overscroll-behavior: contain;
  touch-action: none;
  user-select: none;
}

.Controller {
  touch-action: none;
  user-select: none;
}